<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Trackgenix</title>
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/header.css">
        <link rel="stylesheet" href="../css/sidebar.css">
        <link rel="stylesheet" href="../css/footer.css">
        <link rel="stylesheet" href="../css/log-in.css">
        <script src="https://kit.fontawesome.com/fc16f7a8a7.js" crossorigin="anonymous"></script>
        <script src="../javascript/log-in.js"></script>
    </head>
    <body>
        <aside class="none-sidebar">
            <a href="">
                <i class="fa-solid fa-bars"></i>
            </a>
        </aside>
        <aside class="sidebar">
            <div>
                <h3>Menu</h3>
                <nav>
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="sign-up.html">SignUp</a>
                        </li>
                        <li class="more-padding">
                            <a href="log-in.html">LogIn</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div>
                <h3 id="top-padding">Get in touch</h3>
                <p class="more-padding">
                    Explanation here of the correspondant reason. We left this with a random text for the moment. This is just an example.
                     Don't take this text seriously.
                </p>
                <div>
                    <p class="line">
                        <i class="fa-solid fa-envelope"></i>
                        infotrackgenix@something.idk
                    </p>
                    <p class="line">
                        <i class="fa-solid fa-house"></i>
                        1234 Somewhere Road #8254, Nashville, TN 00000-0000
                    </p>
                    <p>
                        <i class="fa-solid fa-phone-flip"></i>
                        (000)000-0000
                    </p>
                </div>
            </div>
        </aside>
        <div>
            <header>
                <p>
                    <span>Trackgenix</span> by GigaTech Software Solutions SA
                </p>
                <nav>
                    <a href="http://www.facebook.com">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a href="http://www.instagram.com">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="http://www.twitter.com">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                    <a href="http://www.github.com">
                        <i class="fa-brands fa-github"></i>
                    </a>
                    <a href="http://www.linkedin.com">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                </nav>
            </header>
            <div id="main-part">
                <main>
                    <div>
                        <h3>
                            Log In
                        </h3>
                        <form>
                            <div>
                                <p>
                                    <label>Email</label>
                                </p>
                                <p>
                                    <input type="text" placeholder="Insert yout email">
                                </p>
                            </div>
                            <div>
                                <p>
                                    <label>Password</label>
                                </p>
                                <p>
                                    <input type="password" placeholder="Insert your password">
                                </p>
                            </div>
                        </form>
                        <button id="button-send">
                            Send
                        </button>
                    </div>
                </main>
                <footer>
                    <nav>
                        <a href="http://www.facebook.com">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                        <a href="http://www.instagram.com">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                        <a href="http://www.twitter.com">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                        <a href="http://www.github.com">
                            <i class="fa-brands fa-github"></i>
                        </a>
                        <a href="http://www.linkedin.com">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                    </nav>
                    <p>
                        Copyright © 2022 GigaTech Software Solutions SA. All rights reserved.
                    </p>
                </footer>
            </div>
        </div>
    </body>
</html>