<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Trackgenix</title>
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/header.css">
        <link rel="stylesheet" href="../css/sidebar.css">
        <link rel="stylesheet" href="../css/footer.css">
        <link rel="stylesheet" href="../css/sign-up.css">
        <script src="https://kit.fontawesome.com/fc16f7a8a7.js" crossorigin="anonymous"></script>
        <script src="../javascript/sign-up.js"></script>
    </head>
    <body>
        <aside class="none-sidebar">
            <a href="">
                <i class="fa-solid fa-bars"></i>
            </a>
        </aside>
        <aside class="sidebar">
            <div>
                <h3>Menu</h3>
                <nav>
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="sign-up.html">SignUp</a>
                        </li>
                        <li class="more-padding">
                            <a href="log-in.html">LogIn</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div>
                <h3 id="top-padding">Get in touch</h3>
                <p class="more-padding">
                    Explanation here of the correspondant reason. We left this with a random text for the moment. This is just an example.
                     Don't take this text seriously.
                </p>
                <div>
                    <p class="line">
                        <i class="fa-solid fa-envelope"></i>
                        infotrackgenix@something.idk
                    </p>
                    <p class="line">
                        <i class="fa-solid fa-house"></i>
                        1234 Somewhere Road #8254, Nashville, TN 00000-0000
                    </p>
                    <p>
                        <i class="fa-solid fa-phone-flip"></i>
                        (000)000-0000
                    </p>
                </div>
            </div>
        </aside>
        <div>
            <header>
                <p>
                    <span>Trackgenix</span> by GigaTech Software Solutions SA
                </p>
                <nav>
                    <a href="http://www.facebook.com">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a href="http://www.instagram.com">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="http://www.twitter.com">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                    <a href="http://www.github.com">
                        <i class="fa-brands fa-github"></i>
                    </a>
                    <a href="http://www.linkedin.com">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                </nav>
            </header>
            <div id="main-part">
                <main>
                    <h3>Sign Up</h3>
                    <form>
                        <div id="column-1">
                            <div id="name">
                                <p>
                                    <label>Name</label>
                                </p>
                                <p>
                                    <input id="name-input" type="text" placeholder="Name">
                                </p>
                            </div>
                            <div id="surname">
                                <p>
                                    <label>Surname</label>
                                </p>
                                <p>
                                    <input id="surname-input" type="text" placeholder="Surname">
                                </p>
                            </div>
                            <div id="ID">
                                <p>
                                    <label>ID number</label>
                                </p>
                                <p>
                                    <input id="ID-input" type="text" placeholder="ID number">
                                </p>
                            </div>
                            <div id="birth">
                                <p>
                                    <label>Birth date</label>
                                </p>
                                <p>
                                    <input id="birth-input" type="date" placeholder="Birth date">
                                </p>
                            </div>
                            <div id="phone">
                                <p>
                                    <label>Phone number</label>
                                </p>
                                <p>
                                    <input id="phone-input" type="text" placeholder="Phone number">
                                </p>
                            </div>
                        </div>
                        <div id="column-2">
                            <div id="address">
                                <p>
                                    <label>Address</label>
                                </p>
                                <p>
                                    <input id="address-input" type="text" placeholder="Address">
                                </p>
                            </div>
                            <div id="city">
                                <p>
                                    <label>City</label>
                                </p>
                                <p>
                                    <input id="city-input" type="text" placeholder="City">
                                </p>
                            </div>
                            <div id="postcode">
                                <p>
                                    <label>Post code</label>
                                </p>
                                <p>
                                    <input id="postcode-input" type="text" placeholder="Post code">
                                </p>
                            </div>
                            <div id="email">
                                <p>
                                    <label>Email</label>
                                </p>
                                <p>
                                    <input id="email-input" type="email" placeholder="Email">
                                </p>
                            </div>
                            <div id="password">
                                <p>
                                    <label>Password</label>
                                </p>
                                <p>
                                    <input id="password-input" type="password" placeholder="Password">
                                </p>
                            </div>
                            <div id="password2">
                                <p>
                                    <label>Repeat password</label>
                                </p>
                                <p>
                                    <input id="password2-input" type="password" placeholder="Repeat password">
                                </p>
                            </div>
                        </div>
                    </form>
                    <button id="button-send">
                        Send
                    </button>
                </main>
                <footer>
                    <nav>
                        <a href="http://www.facebook.com">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                        <a href="http://www.instagram.com">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                        <a href="http://www.twitter.com">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                        <a href="http://www.github.com">
                            <i class="fa-brands fa-github"></i>
                        </a>
                        <a href="http://www.linkedin.com">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                    </nav>
                    <p>
                        Copyright © 2022 GigaTech Software Solutions SA. All rights reserved.
                    </p>
                </footer>
            </div>
        </div>
    </body>
</html>