header{
    padding: 5px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #FF3E1D;
}

header p{
    font-size: 14px;
    color: #373867;
}

header span{
    font-weight: bold;
}
