body{
    display:flex;
    overflow: hidden;
}

body>div{
    overflow-y: auto;
    flex-basis: 83%;
}

*{
    line-height: 1.2;
}

a{
    text-decoration: none;
}

body>div i, .none-sidebar i{
    color: #5d5d5d;
}

body>div i:hover, .none-sidebar i:hover{
    color: #f13312;
}

h1{
    font-size: 25px;
    font-weight: bold;
    color: #363867;
}

h2{
    font-size: 14px;
    color: #363867;
}

h3{
    font-size: 20px;
    font-weight: bold;
    color: #363867;
}

h4{
    font-size: 14px;
    font-weight: bold;
    color: #373867;
}

button{
    border: 1px solid red;
    border-radius: 3px;
    color: red;
    background-color: white;
    width: 69.5px;
    height: 33px;
}

button:hover{
    border: 1px solid red;
    background-color: red;
    color: white;
}

@media only screen and (min-width: 1024px){
    header i, footer i{
        font-size: 29px;
    }

    h1{
        font-size: 40px;
    }

    h3{
        font-size: 30px;
    }

    body>div{
        padding: 5px;
    }
}