header>nav{
    text-align: right;
}

header{
    display: inline;
    float: right;
    width: 75%;
}

aside a{
    text-decoration: none;
    color: #363767;
    font-size: 20px;
}

aside{
    background-color: #AACE9B;
    color: #363767;
    float: left;
    width: 20%;
    height: 100%;
    position: fixed;
    padding: 15px;
    line-height: normal;
}

aside h2{
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline solid #F13312;
}

aside p{
    font-size: 14px;
}

main{
    float: right;
    width: 75%;
}

footer{
    text-align: center;
    float: right;
    width: 75%;
}

button{
    border: 2px solid red;
    color: red;
}

button:hover{
    border: 2px solid red;
    background-color: red;
    color: white;
}