header{
    display: inline;
    float: right;
    width: 75%;
}

header span{
    font-weight: bold;
}

header>nav{
    text-align: right;
}

aside{
    background-color: #AACE9B;
    color: #363767;
    float: left;
    width: 20%;
    height: 100%;
    position: fixed;
    padding: 15px;
    line-height: normal;
}

aside a{
    text-decoration: none;
    color: #363767;
    font-size: 20px;
}

aside a:hover{
    color: #FF3E1D;
}

aside li{
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #363767;
}

aside h2{
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline solid #F13312;
    margin-bottom: 10px;
}

aside p{
    font-size: 14px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.more-padding{
    padding-bottom: 30px;
}

p.line{
    border-bottom: 1px solid #363767;
}

aside img{
    color: #363767;
}

main{
    float: right;
    width: 75%;
}

footer{
    text-align: center;
    float: right;
    width: 75%;
}

button{
    border: 2px solid red;
    color: red;
}

button:hover{
    border: 2px solid red;
    background-color: red;
    color: white;
}