header>nav{
    text-align: right;
}

header{
    display: inline;
    float: right;
    width: 75%;
}

aside{
    background-color: #AACE9B;
    float: left;
    width: 25%;
    height: 100%;
    position: fixed;
}

main{
    float: right;
    width: 75%;
}

footer{
    text-align: center;
    float: right;
    width: 75%;
}

button{
    border: 2px solid red;
    color: red;
}

button:hover{
    border: 2px solid red;
    background-color: red;
    color: white;
}